body {
  font-family: sans-serif;
  text-align:center;
  background-color: #FA5882;
}

#calculadora {
  font: bold 14px Arial, sans-serif;
  background-color: #848484;
  border-radius: 3px;
  height: auto;
  margin: 0 auto;
  padding: 20px 15px 9px 20px;
  width: 438px;
}

.parteSuperior .pantalla {
  background-color: #F2F2F2;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 17px;
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  padding: 0px 20px;
  margin: 0 7px 11px 0;
  text-align: right;
  width: 392px;
}

.teclas,
.parteSuperior {
  overflow: hidden;
}

.teclas span,
span.limpiar {
  background-color: #CEECF5;
  border-radius: 3px;
  color: #000000;
  cursor: pointer;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 7px 11px 0;
  text-align: center;
  transition: all 0.4s ease 0s;
  width: 66px;
}

.parteSuperior span.limpiar {
  background-color:#FF7C87;
}

.teclas span.operador {
  background-color: #A9D0F5;
  margin: 0 7px 11px 0;
}

.teclas span.igual {
  background-color: #81BEF7;
  width: 139px;
}

span.limpiar {
  background-color: #FF9FA8;
}

.teclas span:hover,
.teclas span.igual:hover,
.parteSuperior span.limpiar:hover {
  background-color: #0431B4;
  color: #FFFFFF;
}
